<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="xuly.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <div id="wrappper">
        <div id="loginForm">
            <h3>WHAT'S YOUR NAME</h3>
            <input type="text" id="txtUsername">
            <input type="button" id="btnRegister" value="Register">
        </div>

        <div id="chatForm">
            <div id="left">
                <h3>User online</h3>
                <div id="boxContent">
                </div>
            </div>
            <div id="right">
                <div id="sayHi">
                    <h4>Hello <span id="currentUser"></span></h4>
                    <input id="btnLogout" type="button" value="Logout">
                </div>
                <div id="listMessage">
                </div>
                <p id="somebody"></p>
                <input type="text" id="txtMessage">
                <input type="button" id="btnSend" value="Send">

            </div>

        </div>
    </div>
    
</body>
</html>